<template name="groupPage">
	<div class="group-page">
		
		<header>
			<h1>{{title}}</h1>
			<h2 class="meta">Added by {{author}} • {{displayFormat submitted}} • {{todosCount}} Todos • {{commentCount}} Comments • <a href="{{pathFor 'groupEdit'}}">Edit</a></h2>
		</header>
		
		<div class="group-todos">
			{{#each todos}}
				{{> todoItem}}
			{{/each}}
		</div>
		
		<div class="group-info">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Description &amp; Comments</strong></div>

				<div class="panel-body">
					<p>{{description}}</p>
				</div>

				<ul class="list-group">
					{{#each comments}}
						{{> commentItem}}
					{{/each}}
				</ul>
			</div>

			{{#if currentUser}}
				{{> commentSubmit}}
			{{else}}
				<p>Please log in to leave a comment.</p>
			{{/if}}
		</div>

	</div>
</template>