<template name="todoItem">
	<div class="todo-item">
		
		<div class="checkbox-hldr">
			<input type="checkbox">
		</div>

		<div class="content">
			<!-- <span class="glyphicon glyphicon-resize-vertical"></span> -->
			<span class="title">
				<a href="{{pathFor 'todoPage'}}">{{title}}</a> <span class="slash">/</span> 
				<a href="{{pathFor 'groupPage' _id=groupId }}" class="group">{{group}}</a>
			</span>
			<span class="meta">{{displayFormat duedate}} • {{commentCount}} Comments • Assigned by {{author}}</span>
		</div>

		<div class="extra">
			<a href="{{pathFor 'todoEdit'}}" class="btn btn-off-white btn-sm">Edit</a>
		</div>

	</div>
</template>