<template name="todoGroupSubmit">

	<form action="" class="main form">

		<div class="form-group {{errorClass 'title'}}">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input name="title" id="title" type="text" value="" placeholder="Todo" class="form-control"/>
				<span class="help-block">{{errorMessage 'title'}}</span>
			</div>
		</div>

		<div class="form-group {{errorClass 'duedate'}}">
			<label for="duedate" class="control-label">Due Date</label>
			<div class="controls">
				<input name="duedate" id="duedate" type="text" value="" placeholder="Enter the Due Date" class="form-control"/>
				<span class="help-block">{{errorMessage 'duedate'}}</span>
			</div>
		</div>

		<div class="form-group">
			<label for="decription" class="control-label">Description</label>
			<textarea name="description" id="description" class="form-control" rows="5"></textarea>
		</div>

		<div class="form-group select-group">
			<label for="user-select" class="control-label">Assign a ToDo&rsquo;er</label>&emsp;
			<select name="user-select" id="user-select">
				<option value="">&ldquo;There can be only one.&rdquo;</option>
				{{#each allUsers}}
					<option value="{{_id}}">{{profile.name}}</option>
				{{/each}}
			</select>
		</div>

		<hr>

		<div class="form-group">
			<input type="submit" value="Submit" class="btn btn-primary"/>
		</div>

	</form>
</template>