<template name="clientsList">

	<header>
		<h1>Switch Clients</h1>
	</header>

	<div class="clients">
		{{#each clients}}
			{{> client}}
		{{/each}}
	</div>

</template>


<template name="client">
	<div class="client">
		<div class="profile-img">
			<img src="{{logo}}" alt="{{title}}" class="img-circle">
			<a href="{{pathFor 'clientEdit'}}" class="edit"><i class="fa fa-edit"></i></a>
		</div>

		<div class="profile-header">
			<h2>{{title}} <span class="username">{{pm}}</span></h2>
			<p><a href="" class="btn btn-off-white">Client Groups</a></p>
		</div>
	</div>
</template>