// Import Vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less";

// Sites
@import "sites/home.import.less";


// Type settings
h1, h2, h3 { font-weight: 300; }


// Basic styles
body {
}

.container-fluid {
	max-width: 950px;
}

.page-header {
	position: relative;

	h1 small { font-size: 45%; }

	#login-buttons {
		position: absolute;
			top: 0;
			right: 0;
	}
}

#left {
	
}

#right {
	border-left: 1px solid @gray-lighter;
}


// Todo
.todo-content {
	.clearfix();
	display: block;
	padding: 5px 0;
	position: relative;
	.btn { float: right; }
}


// 404
.not-found {
	text-align: center;
	h2 {
		font-size: 96px;
		font-weight: 100;
	}
}


// comments
.list-group-item-text {
	span {
		color: @gray-light;
		font-size: 75%;
		&.author {
			font-weight: 600;
		}
	}
}


// errors
@-webkit-keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.errors {
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}