<template name="mainNav">

	<div class="page-brand">
		<span class="glyphicon glyphicon-fire"></span>
		<p><strong>Switch</strong> ToDos</p>
	</div>
	
	<ul class="nav nav-pills nav-stacked">
		{{> loginButtons}}

		{{#if currentUser}}
			<li class="">
				<a href="{{pathFor 'todosList'}}">
					<span class="glyphicon glyphicon-inbox"></span> Inbox <span class="badge">4</span>
				</a>
			</li>
			<li class="dropdown">{{> notifications}}</li>
			<li>
				<a href="{{pathFor 'todoSubmit'}}">
					<span class="glyphicon glyphicon-plus"></span> Add a Todo
				</a>
			</li>
		{{/if}}
	</ul>

</template>