<template name="mainNav">

	<div class="page-brand">
		<span class="glyphicon glyphicon-fire"></span>
		<p><strong>Switch</strong> ToDos</p>
	</div>
	
	<ul class="nav nav-pills nav-stacked">

		{{#if currentUser}}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-user"></span> {{username}} 
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{{pathFor 'profile'}}">Profile</a></li>
					<li><a href="{{pathFor 'profile'}}">Edit Profile</a></li>
					{{#if isInRole 'super-admin'}}
						<li><a href="{{pathFor 'manageUsers'}}">Manage Users</a></li>
					{{/if}}
					<li>
						<a href="#" class="signout">
							<span class="glyphicon glyphicon-log-out"></span> Sign Out
						</a>
					</li>
				</ul>
			</li>

			<li class="">
				<a href="{{pathFor 'todosList'}}">
					<span class="glyphicon glyphicon-inbox"></span> Inbox <span class="badge">{{currentUser.profile.todosCount}}</span>
				</a>
			</li>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-th"></span> Groups
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="{{pathFor 'groupsList'}}">
							<span class="glyphicon glyphicon-th"></span> All Groups
						</a>
					</li>
					<li>
						<a href="{{pathFor 'groupSubmit'}}">
							<span class="glyphicon glyphicon-plus"></span> Add a Group
						</a>
					</li>
				</ul>
			</li>
			
			{{> notifications}}
			
			<li>
				<a href="{{pathFor 'todoSubmit'}}">
					<span class="glyphicon glyphicon-plus"></span> Add a Todo
				</a>
			</li>

		{{else}}
			
			<li>
				<a href="{{pathFor 'signIn'}}">
					<span class="glyphicon glyphicon-log-in"></span> Sign In
				</a>
			</li>

		{{/if}}
	</ul>

</template>